.footer {
  display: flex;
  justify-content: space-evenly;
  // overflow-x: auto;
  font-size: font-size(smaller);
  flex-wrap: wrap;
  &__list {
    width: 208px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  &__elem {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    min-width: 110px;

    &-title {
      margin-top: 15px;
      font-weight: get-font-weight(big);
    }

    img {
      width: 25px;
      height: 25px;
      margin-right: 4px;
    }

    &-social a img {
      margin-right: 13px;
    }
  }
}
