.button {
  background-color: $primary-color;
  box-shadow: 0px 22px 40px 0px #ff683830;
  border-radius: 5px;
  color: white;
  font-size: font-size(smaller);
  cursor: pointer;
  @include flex-center;
}
